* {
    font-family: 'IBM Plex Mono', monospace;
}

body {
    padding: 50px
}

#typing-container {
    width: 100%;
    margin: 12px 0 0 12px;
    background: #2b323c;
    color: #fff;
    display: flex;
    overflow: scroll;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 1em;
    padding-left: 0.3em;
}

#typing-container p {
    font-size: 1.6em;
    line-height: 0.5em;
    margin-bottom: 0.5em;
    font-weight: 300;
}